html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #264D59;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    text-align: center;
  }
}
header h1 {
  font-size: 3rem;
  color: #F5F5F5;
  padding-left: 5%;
  width: 50%;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 2rem;
    padding: 0%;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #264D59;
  width: 40%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  header nav {
    width: 70%;
    padding-bottom: 2.5%;
  }
}
header nav #homeNav {
  font-size: 1.5rem;
  color: #F5F5F5;
  width: 25%;
}
@media (max-width: 500px) {
  header nav #homeNav {
    font-size: 1.1rem;
  }
}
header nav #aboutNav {
  font-size: 1.5rem;
  color: #F5F5F5;
  width: 25%;
}
@media (max-width: 500px) {
  header nav #aboutNav {
    font-size: 1.1rem;
  }
}
.content {
  height: 90vh;
  background-image: url(../photos/campfire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .content {
    height: 85vh;
    flex-direction: column;
    align-items: center;
  }
}
.content .placeHolder1 {
  margin-top: 15%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .content .placeHolder1 {
    width: 80%;
    margin-top: 0%;
    padding-bottom: 10%;
    padding-right: 0%;
  }
}
.content .placeHolder1 h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 4%;
}
@media (max-width: 500px) {
  .content .placeHolder1 h2 {
    font-size: 1.8rem;
  }
}
.content .placeHolder1 p {
  text-align: center;
  color: #F5F5F5;
}
.content .signUp {
  margin-top: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .content .signUp {
    width: 80%;
    margin: 0%;
    padding-bottom: 10%;
  }
}
.content .signUp h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 4%;
}
@media (max-width: 500px) {
  .content .signUp h2 {
    font-size: 1.8rem;
  }
}
.content .signUp p {
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 8%;
}
.content .signUp button {
  border: 1px solid black;
  font-size: 1.1rem;
  background: #F5F5F5;
  color: #286F66;
  width: 100%;
}
.content .placeHolder2 {
  margin-top: 15%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
}
@media (max-width: 500px) {
  .content .placeHolder2 {
    width: 80%;
    margin: 0%;
    padding-left: 0%;
  }
}
.content .placeHolder2 h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 4%;
}
@media (max-width: 500px) {
  .content .placeHolder2 h2 {
    font-size: 1.8rem;
  }
}
.content .placeHolder2 p {
  text-align: center;
  color: #F5F5F5;
}
.aboutHeader {
  display: flex;
  align-items: center;
  background: #286F66;
}
@media (max-width: 500px) {
  .aboutHeader {
    flex-direction: column;
  }
}
.aboutHeader h1 {
  font-size: 3rem;
  color: #F5F5F5;
  padding-left: 5%;
  width: 50%;
}
@media (max-width: 500px) {
  .aboutHeader h1 {
    font-size: 2rem;
    width: 100%;
  }
}
.aboutHeader nav {
  width: 30%;
}
@media (max-width: 500px) {
  .aboutHeader nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-right: 0%;
    padding-bottom: 1%;
  }
}
.aboutHeader nav a {
  color: #F5F5F5;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .aboutHeader nav a {
    font-size: 1.2rem;
  }
}
.belowHeader {
  background: #264D59;
}
.belowHeader .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  justify-content: center;
  background-image: url(../images/aboutBckg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.belowHeader .intro h2 {
  font-size: 3rem;
  padding-top: 3%;
  padding-bottom: 3%;
}
@media (max-width: 500px) {
  .belowHeader .intro h2 {
    padding-top: 5%;
  }
}
.belowHeader .intro p {
  padding-bottom: 5%;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .belowHeader .intro p {
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
  }
}
.belowHeader .intro img {
  height: 33px;
  padding-top: 25px;
}
.about-content {
  background: #264D59;
}
.about-content .firstRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
  padding-top: 5%;
}
@media (max-width: 500px) {
  .about-content .firstRow {
    flex-direction: column;
    align-items: center;
  }
}
.about-content .firstRow div {
  background-color: #286F66;
  width: 300px;
}
.about-content .firstRow .ami {
  border: 10px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .about-content .firstRow .ami {
    margin-left: 0%;
    margin-bottom: 10%;
  }
}
.about-content .firstRow .ami h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .firstRow .ami img {
  height: 100px;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .firstRow .ami p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .firstRow .lorenzo {
  border: 10px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .about-content .firstRow .lorenzo {
    margin: 0%;
  }
}
.about-content .firstRow .lorenzo h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .firstRow .lorenzo img {
  height: 100px;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .firstRow .lorenzo p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .secondRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .about-content .secondRow {
    flex-direction: column;
    align-items: center;
  }
}
.about-content .secondRow div {
  width: 300px;
  background-color: #286F66;
}
.about-content .secondRow .damon {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-left: 5%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-content .secondRow .damon {
    margin-left: 0%;
    margin-bottom: 10%;
  }
}
.about-content .secondRow .damon h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .secondRow .damon img {
  height: 100px;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .secondRow .damon p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .secondRow .ana {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-right: 5%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-content .secondRow .ana {
    margin: 0%;
  }
}
.about-content .secondRow .ana h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .secondRow .ana img {
  height: 100px;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .secondRow .ana p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .thirdRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .about-content .thirdRow {
    flex-direction: column;
    align-items: center;
  }
}
.about-content .thirdRow div {
  width: 300px;
  background-color: #286F66;
}
.about-content .thirdRow .sandra {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-left: 5%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-content .thirdRow .sandra {
    margin-left: 0%;
    margin-bottom: 10%;
  }
}
.about-content .thirdRow .sandra h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .thirdRow .sandra img {
  height: 100px;
  padding-bottom: 5%;
}
.about-content .thirdRow .sandra p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .thirdRow .caitlyn {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-right: 5%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-content .thirdRow .caitlyn {
    margin: 0%;
  }
}
.about-content .thirdRow .caitlyn h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .thirdRow .caitlyn img {
  height: 100px;
  padding-bottom: 5%;
}
.about-content .thirdRow .caitlyn p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.about-content .fourthRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .about-content .fourthRow {
    flex-direction: column;
    align-items: center;
  }
}
.about-content .fourthRow div {
  width: 300px;
  background-color: #286F66;
}
.about-content .fourthRow .jennie {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-left: 5%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .about-content .fourthRow .jennie {
    margin-left: 0%;
    margin-bottom: 10%;
  }
}
.about-content .fourthRow .jennie h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #F5F5F5;
}
.about-content .fourthRow .jennie img {
  height: 100px;
  width: 100px;
  padding-bottom: 5%;
}
.about-content .fourthRow .jennie p {
  padding-bottom: 8%;
  font-size: 1.4rem;
  color: #F5F5F5;
}
.topPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #264D59;
}
@media (max-width: 500px) {
  .topPhotos {
    display: none;
  }
}
.topPhotos h1 {
  font-size: 3rem;
  margin-bottom: 5%;
  color: #F5F5F5;
  text-align: center;
}
.topPhotos p {
  font-size: 1.5rem;
  margin-bottom: 5%;
  color: #F5F5F5;
  text-align: center;
}
.topPhotos .images-top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.topPhotos .images-top img {
  width: 20%;
  height: auto;
  background: #F5F5F5;
  padding-bottom: 3%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  border: 1px solid #999;
}
.topPhotos .images-middle {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.topPhotos .images-middle img {
  width: 20%;
  height: auto;
  background: #F5F5F5;
  padding-bottom: 3%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  border: 1px solid #999;
}
@media (max-width: 500px) {
  .topPhotos .images-middle img {
    height: 20%;
  }
}
