@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(https://fonts.gstatic.com/s/sueellenfrancisco/v10/wXK3E20CsoJ9j1DDkjHcQ5ZL8xRaxru9no1P3g.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header .logo {
  margin-top: 5%;
  margin-left: 5%;
}
header .logo img {
  width: 30%;
}
header nav {
  margin-bottom: 0;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 1%;
  margin-right: 7%;
  margin-top: 5%;
  font-family: 'Roboto Mono', monospace;
}
.bg {
  background-image: url('../images/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg main {
  display: flex;
  align-items: center;
}
.bg main .header {
  height: 90vh;
  width: 70%;
}
.bg main .header h1 {
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 150px;
  margin-top: 25%;
  padding-left: 20%;
  font-weight: lighter;
  line-height: 1.1;
  padding-right: 7%;
}
.bg main .header h1 span {
  margin-left: 32%;
}
.bg main .btns {
  width: 50%;
  margin-left: 35%;
}
.bg main .btns button {
  background-color: #286F66;
  border: 2px solid white;
  width: 60%;
  border-radius: 5px 20px 5px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.bg2 {
  background: url(../images/bg2.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.bg2 h1 {
  margin: 5%;
  text-align: center;
  padding: 0;
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 100px;
  font-weight: lighter;
  line-height: 0.1;
}
.bg2 .card {
  width: 12%;
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 2%;
  padding: 1%;
}
.bg2 .card img {
  width: 100%;
  height: 22vh;
  background-size: contain;
}
#about {
  background: url(../images/bg2.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
#about .first {
  padding: 5% 0 0 5%;
  margin-bottom: 142px;
}
#about .first h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 75px;
  font-weight: lighter;
  text-align: center;
  font-family: 'Sue Ellen Francisco', cursive;
  width: 100%;
}
#about .first p {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
#about footer {
  height: 5vh;
  background-color: #3C515D;
  margin-top: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 20px;
  vertical-align: bottom;
}
