header{
    // background: @chalk;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @darkGreen;
    // align-items: center;
    // .cameraLogoLeft{
    //     padding-left: 5%;
    // }
    // .headerAndNav{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     width: 45%;
        
        
        h1{
            font-size: 3rem;
            color: @chalk;
            // text-align: center;
            // width: 100%;
            padding-left: 5%;
            width: 50%;


        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: @darkGreen;
            width: 40%;
            padding-right: 5%;
            
            @media @phone{
                display: flex;
                flex-direction: column;
            }
            #homeNav{
                // padding-left: 10%;
                font-size: 1.5rem;
                color: @chalk;
                width: 25%;
                
            }
            #aboutNav{
                // padding-right: 10%;
                font-size: 1.5rem;
                color: @chalk;
                width: 25%;
            }
        }
    // }
    // .noteBookLogoRight{
    //     padding-right: 5%;
    // }
}