.bg2 {
    background: url(../images/bg2.png);
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;

    h1 {
        margin: 5%;
        text-align: center;
        padding: 0;
        color: white;
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 100px;
        font-weight: lighter;
        line-height: 0.1;
    }

    .container {
        display: flex;
        flex-direction: row;
        border: 5px solid orange;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


        @media @phone{
            flex-wrap: wrap;
            flex-direction: column;
        }


        .card {
            background: white;
            width: 15%;
            display: flex;
            margin:4%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            @media @phone {
                flex-direction: column;
                width: 30%;
            }

            .image {
                border: 3px solid red;
                display: flex;

                img {
                    margin:0 auto;
                    width: 90%;
                }
            }

            h3 {
                color: #214049;
                font-family: 'Roboto Mono', monospace;
                border: 2px solid #214049;
                text-align: center;
                line-height: 1.5;
            }

            a {
                margin-bottom: 5%;
                padding: 0;
                font-size: 0.5em;

                .github {
                    width: 30%;
                    margin-top: -5%;
                    margin-left: 35%;
                }
            }
        
        }
    }
}