//Colors

@textColor: white;
@colorTitle: #214049;

//Text

@fontBody: 'Roboto Mono', monospace;
@fontTitles: 'Sue Ellen Francisco', cursive;


//Mixins

.button(@width, @fsize) {
    background-color: #286F66;
    border: 2px solid white;
    width: @width;
    border-radius: 5px 20px 5px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: @fsize;
    margin: 4px 2px;
    cursor: pointer;
}

// Escaping

@tablet: ~"(max-width: 1100px)";
@biggerPhone: ~"(max-width: 780px)";
@phone: ~"(max-width: 500px)";